// .benefit__list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }

// .benefits__item {
//     width: 270px;
//     margin-right: 30px;

//     &:nth-child(4n) {
//         margin-right: 0;
//     }
// }


// .benefits__title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: $primary-text-color-theme-light;

//     margin-top: 0;
//     margin-bottom: 10px;
// }

// .benefits__icon {
//    @extend %flex-centre;
//     align-items: center;
//     width: 270px;
//     height: 120px;
//     left: 220px;
//     top: 774px;

//     background: #F5F4FA;
//     border-radius: 4px;

//     margin-bottom: 30px;
// }

// .benefits__text {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;

//     margin-top: 0;
//     margin-bottom: 0;
// }


.benefit__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



@media screen and (min-width: 768px) {
    .benefits__item {
        width: 354px;
        margin-bottom: 30px;

        &:nth-child(n + 3) {
            margin-bottom: 0;
        }
    }

    .benefits__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-text-color-theme-light;

        text-align: center;

        margin-top: 0;
        margin-bottom: 10px;
    }

    .benefits__icon {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 354px;
        height: 120px;
        left: 220px;
        top: 774px;

        background: #F5F4FA;
        border-radius: 4px;

        margin-bottom: 30px;
    }

    .benefits__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        margin-top: 0;
        margin-bottom: 0;
        
    }
}

@media screen and (max-width: 767px) {
    .benefits__item {
        width: 450px;
        margin-bottom: 30px;

        &:nth-child(4n) {
            margin-bottom: 0;
        }
    }

    .benefits__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-text-color-theme-light;

        text-align: center;

        margin-top: 0;
        margin-bottom: 10px;
    }

    .benefits__icon {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 120px;
        left: 220px;
        top: 774px;

        background: #F5F4FA;
        border-radius: 4px;

        margin-bottom: 30px;
    }

    .benefits__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        margin-top: 0;
        margin-bottom: 0;

    }
}