.footer__address {
    display: inline-block;
    margin-bottom: 20px;
}


.footer__address-link {
    display: inline-block;
    margin-bottom: 9px;

    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color-theme-dark;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}



.footer__contact {
    display: inline-block;
    margin-bottom: 9px;

    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color-theme-dark;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}



.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer {
    display: flex;
    align-items: baseline;

}

.footer__join-in {
    display: block;
    width: 206px;
    margin-left: 70px;


}

.fotter__join-in-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-text-color-theme-dark;
}




