.footer__subscribe {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer__subscribe-form {
    position: relative;
}

.fotter__subscribe-form-input {
    padding-left: 16px;
}

.fotter__subscribe-form-input:focus+.footer__subscribe-form-label {
    color: #ffffff;
}

.footer__subscribe-form-label {
    position: absolute;
    bottom: 15px;
    left: 16px;
}

.fotter__subscribe-form-input:focus+.footer__subscribe-form-label {
    color: #ffffff;
}

.fotter__form {
    margin-left: 93px;
}

.fotter__form input {
    margin-top: 20px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2f303a;
    border-radius: 4px;
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.3);

}

.fotter__button-subscribe {
    position: relative;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 12px;
    min-width: 200px;
    height: 50px;
    border: solid transparent;
    display: inline-block;
    padding-right: 36px;

    color: $primary-text-color-theme-dark;
    background-color: $accent-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

}


.fotter__button-subscribe::after {
    position: absolute;
    right: 10px;
    content: "";
    background-size: contain;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-right: 18px;
    margin-left: 10px;

    background-image: url(../images/icon/icon-send.svg);
}