// .main-nav {
//     border-bottom: 1px solid #ececec;
// }

// .page-header__container {
//     display: flex;
//     align-items: center;
// }

// .menu {
//     display: flex;
//     margin-left: 93px;
// }

// .menu .menu__item+.menu__item {
//     margin-left: 50px;
// }

// .menu__link {
//     font-family: $primary-font;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: $primary-text-color-theme-light;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     &:hover,
//     &:focus {
//         color: $accent-color;
//     }

// }

// .contact {
//     display: flex;
//     margin-left: auto;

// }

// .contact__link-tel {
//     margin-left: 50px;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.02em;
// }

// .contact__link {
//     font-family: $primary-font;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.4;
//     letter-spacing: 0.02em;
//     color: $secondary-text-color-theme-light;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     display: flex;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     align-items: center;
//     justify-content: center;

//     &:hover,
//     &:focus {
//         color: $accent-color;
//     }
// }



// .contact__icon {
//     display: flex;
//     margin-right: 10px;
//     fill: $secondary-text-color-theme-light;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }



// .contact__link:hover .contact__icon,
// .contact__link:focus .contact__icon {
//     fill: $accent-color;

// }



// .menu__item {
//     position: relative;
// }


// .menu__link.link.current::after {
//     content: "";
//     display: inline-block;
//     width: 100%;
//     height: 4px;
//     background: $accent-color;
//     border-radius: 2px;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     margin-bottom: 0;
// }

// .current {
//     color: $accent-color;
// }

@media screen and (max-width: 767px) {
    .menu, .contact {
            display: none;
        }
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    color: #212121;
    
}



@media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }

    .menu {
        width: 294px;
        display: flex;
        margin-left: 88px;
        justify-content: space-between;
    }

    .menu__link {
        font-family: $primary-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $primary-text-color-theme-light;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        &:hover,
        &:focus {
            color: $accent-color;
        }
    
    }

}



@media screen and (min-width: 1200px) {
    .menu {
        display: flex;
        margin-left: 93px;
    }

    
    
    .menu .menu__item+.menu__item {
        margin-left: 50px;
    }
    
    .menu__link {
        font-family: $primary-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $primary-text-color-theme-light;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        &:hover,
        &:focus {
            color: $accent-color;
        }
    
    }

}

