.feedback {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color-theme-light;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__input-wrapper {
    display: block;
    position: relative;
}

.modal-form__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;

    letter-spacing: 0.01em;

    border-color: rgba(33, 33, 33, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 40px;

    padding-left: 42px;

    &:focus {
        outline: none;
        border-color: $accent-color;
    }
}



.modal-form__input-desc {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.01em;

    color: $secondary-text-color-theme-light;
    display: block;
    margin-bottom: 4px;

}

.modal-form__field {
    margin-bottom: 10px;
}


.modal-form__check-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: $secondary-text-color-theme-light;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form__input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: $primary-text-color-theme-light;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus+.modal-form__input-icon {
    fill: $accent-color;
}

.modal-form__message {
    resize: none;
    width: 100%;
    height: 120px;
    border-color: 1px solid rgba(33, 33, 33, 0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: $accent-color;
    }
}


.modal-form__check-desc::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid $primary-text-color-theme-light;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 7px;


}

.modal-form__check:checked+.modal-form__check-desc::before {

    background-image: url(../images/icon/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $accent-color;
    background-size: contain;
    border-color: $accent-color;
    /* background-origin: border-box; */

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


.modal-form__submit {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: $primary-text-color-theme-dark;
    background-color: $accent-color;


    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    border: solid transparent;
    /* display: inline-block; */

    margin-bottom: 40px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: center;

    padding: 10px 32px;
    min-width: 200px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.modal-form__check-desc-link {
    color: #2196F3;
}