.team {
    background-color: #F5F4FA;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.team__item {
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #ececec;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}


.team__card {
    padding: $card-set-gap;
    background: #FFFFFF;
}

.team__employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color-theme-light;

    margin-bottom: 10px;
    margin-top: 0;
}

.team__job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}