.work__img {
    display: flex;
    flex-wrap: wrap;
}

.work__item {
    margin-right: $card-set-gap;

    &:nth-child(3n) {
        margin-right: 0;
    }
}


.work__wrapper {
    position: relative;
}

.work__overlay {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-text-color-theme-dark;
    background-color: rgba(47, 48, 58, 0.8);


    @extend %flex-centre;
    align-items: center;

    width: 370px;
    height: 70px;
}