h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    height: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: $primary-font;
    color: $secondary-text-color-theme-light;
}

