
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$primary-text-color-theme-dark: #FFFFFF;
$primary-text-color-theme-light: #212121;
$secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
$secondary-text-color-theme-light: #757575;
$accent-color: #2196F3;
$card-set-gap: 30px;
$border-card: #ececec;
